.my-bookings-page {
    background-color: #f9f9f9;
    min-height: 100vh;
  
    .MuiCard-root {
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      &:hover {
        transform: scale(1.02);
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
      }
    }
  }
  