.login-container {
  height: 100vh;
  margin-top: -2rem;
  margin-bottom: 12rem;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;

  .login-form {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    border-radius: 10px;
    // box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    .login-header {
      text-align: center;
      margin-bottom: 1rem;
      margin-top: 2rem;
      .logo {
        width: 100px;
        height: 90px;
        margin-bottom: 1rem;
      }

      .title {
        font-weight: bold;
        color: #333;
      }

      .subtitle {
        color: #666;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      width: 18rem;
    }

    .forgot-password {
      text-align: right;
      color: #007bff;
      cursor: pointer;
      margin-bottom: 1rem;
    }

    .login-btn {
      margin-top: 1.5rem;
      padding: 10px;
      background-color: #007bff;

      &:hover {
        background-color: #0056b3;
      }
    }

    .divider {
      margin: 1.5rem 0;
      text-align: center;
    }

    .social-btn {
      margin-bottom: 0.8rem;
      text-transform: none;
    }

    .register-text {
      text-align: center;
      margin-top: 1.5rem;
      color: #555;

      .register-link {
        color: #007bff;
        cursor: pointer;
      }
    }
  }
}

// Right Side: Banner Section
.login-banner {
  background-image: url("../../assets/AboutMain.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  color: #fff;
  text-align: center;
  height: 730px;
  @media (max-width: 600px) {
    display: none;
  }

  .banner-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 8px;
    max-width: 400px;

    .banner-title {
      font-weight: bold;
    }

    .banner-text {
      margin-top: 1rem;
      line-height: 1.6;
    }
  }
}
