@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
::-webkit-scrollbar {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.slick-dots li button:before {
  color: rgb(78, 75, 75);
  font-size: 12px;
}
