.category-container {
  padding: 2rem 10rem;
  text-align: center;
}

.category-title {
  color: #1d4ed8;
  margin-bottom: 20px;
  font-weight: bold;
}

.category-card {
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  transition: transform 0.2s;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  position: relative;
}

.category-name {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 10px;
  color: #1f2937;
  margin-left: 10px; 
}

.image-container {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 0;
  width: 100%;
  position: absolute;
  top: 8.5rem;
}

.category-image {
  // max-height: 156px; 
  object-fit: contain;
  margin-right: 10px; 
  position: absolute;
}

.shop-now-button {
  background-color: #1f2937;
  color: white;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.view-all-button {
  margin-top: 30px;
  padding: 10px 30px;
}