.calendar-container {
  // background: white;
  border-radius: 20px;
  padding:3px;
  padding-left: 40px;
  width: 331px;
  // box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.calendar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.calendar-icon {
  font-size: 30px;
  color: #c026d3;
}

.calendar-date {
  margin-top: 2rem;
  background: #efeff0;
  padding: 5px 15px;
  border-radius: 10px;
  color: #d946ef;
  font-weight: bold;
  margin-top: 5px;
}

.calendar-time {
  color: #c026d3;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.custom-calendar {
  border-radius: 15px;
  padding: 10px;
  background: #fdfdfd;
}
.noofdays{
  background-color: #efeff0;
  border-radius: 10px;
  padding: 6px;
  color: 6b008e;
}
.react-datepicker__day--selected,
.react-datepicker__day--in-range {
  background-color: #c026d3 !important;
  color: white !important;
  border-radius: 50%;
}

.react-datepicker__day--keyboard-selected {
  background-color: #6b008e !important;
}

.calendar-footer {
  text-align: center;
  margin-top: 10px;
}

.calendar-confirm-btn {
  background: #c026d3;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}

.calendar-confirm-btn:disabled {
  background: #d3d3d3;
}
