.footer {
  background-color: #000;
  color: #ffffff;
  padding: 2rem 3rem;
  display: none;
}

.footer-main {
  background-color: #000;
  color: #ffffff;
  padding: 2rem 3rem;
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;

    .footer-column {
      flex: 1;
      min-width: 200px;
      margin: 0 20px;

      h3 {
        font-size: 1rem;
        margin-bottom: 1rem;
        color: #ffffff;
        font-weight: bold;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          font-size: 0.8rem;
          line-height: 1.6;
          cursor: pointer;
          color: #cccccc;

          &:hover {
            color: #ffffff;
            text-decoration: underline;
          }
        }
      }

      p {
        font-size: 0.85rem;
        color: #cccccc;
        margin-top: 1rem;
      }
    }



  }
}

.footer-column-social{
  display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;



.social-media {
  display: flex;
  gap: 4rem;
  margin-bottom: 1rem;
  text-align: center;
  justify-content: center;


  .icon {
    font-size: 1.2rem;
    color: #cccccc;
    cursor: pointer;

    &:hover {
      color: #17a2b8; // Highlighted color for hover
    }
  }

}

.location {
  align-items: center;
  display: flex;
  justify-content: center;

  span {
    color: #cccccc;
  }
}
}