.icon-container {
  background-color: #ccdcf9;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 1rem;
  font-size: 1.5rem;
  color: #4967ff;
}
